
*{
  margin: 0;
  padding: 0;
}

header{
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color:rgb(60,65,77);
  padding: 15px 0 15px 0;
  transition: top 0.3s;
  z-index: 1;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
  align-items: center;

  ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;

    li{
      font-weight: initial;

      span{
        padding-right: 10px;
      }

      a{
        cursor: pointer;
      }
      a:hover{
        color: rgb(216, 166, 30);
      }
    }
  }

  .network{
    color: white;
    font-size: 20px;
  }

  .network:hover{
    color:  rgb(216, 166, 30);
  }

  .network-text{
    display: none;
  }
}

#cv{
  color: rgb(89, 160, 243);
}

#cv:hover{
  color: rgb(2, 117, 239);
}


@media (max-width: 768px) {

  nav{
    width: 100%;
    padding: 0 8px 0 8px;

    ul{

      li{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
          display: flex;
          padding-right: 0;
          align-items: center;
          justify-content: center;
        }

        a{
          font-size: 11px;
          white-space: nowrap;
        }

        .network{
          font-size: 16px;
        }
      }
    }

    .network-text{
      display: flex;
      color: white;
    }

    #cv-text{
      color: rgb(89, 160, 243);
    }
  }
}
