* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(60, 65, 77);
  padding: 15px 0 11px 0;
  transition: top 0.3s;
  z-index: 1;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 750px;
  align-items: center;

  ul {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    color: white;
    font-family: 'Rajdhani', sans-serif;

    li {
      font-weight: initial;

      span {
        padding-right: 10px;
      }

      a {
        cursor: pointer;
      }

      a:hover {
        color: rgb(216, 166, 30);
      }
    }
  }

  .network {
    color: white;
    font-size: 20px;
  }

  .network:hover {
    color: rgb(216, 166, 30);
  }

  .network-text {
    display: none;
  }

}

#submenu, #submenu-cv {
  display: none;
  color: black;
  background-color: #e5e4e1;
  flex-direction: column;
  position: absolute;
  width: 140px;
  border: silver solid 1px;
  margin-left: 30px;
  padding-left: 10px;
}

#submenu-cv {
  margin-left: 0;
}

#header-skills:hover #submenu, #cv-li:hover #submenu-cv { // skills is already taken
  display: flex;
}

#cv {
  color: rgb(89, 160, 243);
  cursor: pointer;
}

#cv:hover {
  color: rgb(2, 117, 239);
}

// SCREEN RESPONSIVE
@media (max-width: 768px) {

  nav {
    flex: 1;
    padding: 0 8px 0 8px;

    ul {
      flex: 1;

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;

        span {
          display: flex;
          padding-right: 0;
          align-items: center;
          justify-content: center;
        }

        a {
          font-size: 9px;
          white-space: nowrap;
        }

        .network {
          font-size: 16px;
        }
      }

      #arrow-drop-menu {
        display: none;
      }

      #header-skills:hover #submenu {
        display: none;
      }
    }

    .network-text {
      display: flex;
      color: white;
    }

    #cv-text {
      color: rgb(89, 160, 243);
    }
  }

  #test {
    display: flex;
    flex-direction: row;
  }

}
