<div class="content">
  <div class="presentation" fadeIn>
    <h2>Cher visiteur,</h2>
    <p>Je vous salue. Si vous lisez ceci c'est que nous sommes le {{actualDate | date: 'd MMMM yyyy'}} et surtout que,
      vous êtes sur mon portfolio.</p>
    <p>Je me présente, je suis ce qu'on appelle un <strong>passionné d'informatique</strong>. J'ai fini une formation
      <strong>développeur Java qualifiante</strong> d'une durée de 6 mois à <strong>Technofutur TIC</strong> et au
      moment
      où je vous écris, je suis en dernière année d'un <strong>bachelier en informatique de gestion</strong> en cours du
      soir.</p>
    <p>J'aime concevoir, créer et me casser la tête à <strong>résoudre des problèmes</strong> et j'ai déjà acquis pas
      mal d'expérience du fait de mon <strong>travail acharné</strong>. Mais j'ai bien conscience que ce ne sont que des
      mots : je vous propose donc de voir par vous même quelques uns de <a class="link"
                                                                           (click)="onNavigate('projects')"><strong>mes
        projets</strong></a>, un peu plus bas.</p>
    <p>J'ai selectionné <strong>3 projets</strong> qui résument ce que j'ai appris; de l' <strong>analyse</strong> au
      <strong>front-end</strong> en passant par la <strong>base de donnée</strong> et le <strong>back-end</strong>.</p>
    <p>Mes réalisations sont disponibles sur <a class="link" href="https://github.com/cyimena09?tab=repositories"
                                                target="_blank"><strong>mon GitHub</strong></a>. Si elles vous plaisent
      n'hésitez pas à <a class="link" (click)="onNavigate('contact')"><strong>me contacter</strong></a> car je suis à la
      recherche de nouvelles opportunités et qui sait notre collaboration pourrait être fructueuse.</p>
    <p>Quoi qu'il en soit, je vous souhaite une excellente {{message}}.</p>
    <p id="signature"><strong>Emile Cyimena</strong></p>
  </div>
</div>
