
.content{
  color: #dedcdc;
  width: 100%;
  background-color: rgb(43,43,43);

  .presentation{
    width: 750px;
  }

  h2{
    text-align: start;
    margin-bottom: 20px;
    width: 100%;
    font-size: 25px;
  }

  p{
    margin-bottom: 30px;
    text-align: justify;
    font-size: 16px;
  }

  #signature{
    border-top: solid 1px;
    margin-top: 25px;
    padding-top: 10px;
    text-align: end;
    width: 100%;
  }
}

strong{
  color: #73bbf1;
}

.link{
  text-decoration: underline #73bbf1;
  cursor: pointer;

  strong:hover{
    color: rgb(216, 166, 30);
    text-decoration: underline rgb(216, 166, 30);
  }
}


@media (max-width: 818px) {

  .content{

    .presentation {
      width: 500px;
    }
  }
}


@media (max-width: 510px) {

  .content{

    .presentation {
      width: 90%;
    }
  }
}

