
.content{
  background-color: rgb(25,25,25);
  color: #dedcdc;
}

li{
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
  white-space: nowrap;

  span{
    margin-right: 20px;
  }
}

// ********************************************* ANIMATIONS ***********************************************************
.visible, .invisible {
  opacity: 0.0;
  transition: opacity 1.8s ease;
}

[fadeIn].visible {
  opacity: 1;
}


@media (max-width: 768px) {

  li{
    font-size: 18px;
  }
}
