.content{
  background-color: rgb(25,25,25);
  color: #dedcdc;
}

li{
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;

  span{
    margin-right: 20px;
  }
}


@media (max-width: 768px) {

  li{
    font-size: 18px;
  }
}
