<div id="skills" class="content">
  <div>
    <h2>Compétences</h2>
  </div>
  <!--  BACKEND -->
  <div id="backend" class="backend">
    <h3>Back-end</h3>
    <div class="skills">
      <div class="skill" slideInBottom>
        <h4><span class="fas fa-globe"></span>SYSTÈMES D'EXPLOITATIONS</h4>
        <ul>
          <li>Windows</li>
          <li>Linux</li>
        </ul>
      </div>
      <div class="skill" slideInBottom>
        <h4><span class="fas fa-database"></span>BASE DE DONNÉES</h4>
        <ul>
          <li>MySQL</li>
          <li>PostgreSQL</li>
          <li>SQL Server</li>
        </ul>
      </div>
      <div class="skill" slideInBottom>
        <h4><span class="fas fa-laptop-code"></span>LANGAGES</h4>
        <ul id="sisi">
          <li>Java</li>
          <li>PHP</li>
        </ul>
      </div>
      <div class="skill" slideInBottom>
        <h4><span class="far fa-square"></span>FRAMEWORKS</h4>
        <ul>
          <li>Java Spring</li>
          <li>Java EE</li>
          <li>Java SE</li>
        </ul>
      </div>
    </div>
  </div>
  <!--  FRONTEND -->
  <div id="frontend" class="frontend">
    <h3>Front-end</h3>
    <div class="skills">
      <div class="skill" slideInBottom>
        <h4><span class="fas fa-laptop-code"></span>LANGAGES</h4>
        <ul>
          <li>TypeScript</li>
          <li>JavaScript</li>
        </ul>
      </div>
      <div class="skill" slideInBottom>
        <h4><span class="far fa-square"></span>FRAMEWORKS</h4>
        <ul>
          <li>Angular</li>
          <li>Bootstrap</li>
        </ul>
      </div>
      <div class="skill" slideInBottom>
        <h4><span class="fas fa-code"></span>MISE EN PAGE</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
      </div>
    </div>
  </div>
</div>
