<div id="skills" class="content">

  <div>
    <h2>Compétences</h2>
  </div>

  <!-- ******************************************** BACKEND ********************************************************* -->
  <div class="backend">

    <h3>Backend</h3>

    <div class="skills">

      <div class="skill">
        <h4><span class="fas fa-globe"></span>SYSTEMES D'EXPLOITATIONS</h4>
        <ul>
          <li>Linux et Bash/Fish</li>
          <li>Windows et Powershell</li>
        </ul>
      </div>

      <div class="skill">
        <h4><span class="fas fa-stream"></span>LANGUAGES</h4>
        <ul id="sisi" >
          <li>C#</li>
          <li>Java</li>
          <li>Python</li>
        </ul>
      </div>

      <div class="skill">
        <h4><span class="fas fa-sitemap"></span>FRAMEWORKS</h4>
        <ul>
          <li>.NET</li>
          <li>Java EE</li>
          <li>Java Spring</li>
        </ul>
      </div>

      <div class="skill">
        <h4><span class="fas fa-database"></span>BASE DE DONNÉES</h4>
         <ul>
           <li>T-SQL</li>
           <li>MySQL</li>
           <li>PostgreSQL</li>
         </ul>
       </div>

  </div>
</div>

  <!-- ******************************************** FRONTEND ********************************************************* -->
  <div class="frontend">

    <h3>Frontend</h3>

    <div class="skills">

      <div class="skill">
        <h4><span class="fas fa-stream"></span>LANGUAGES</h4>
        <ul>
          <li>JavaScript</li>
          <li>TypeScript</li>
        </ul>
      </div>

      <div class="skill">
        <h4><span class="fas fa-sitemap"></span>FRAMEWORKS</h4>
        <ul>
          <li>Angular</li>
          <li>Bootstrap</li>
        </ul>
      </div>

      <div class="skill">
        <h4><span class="fas fa-laptop-code"></span>MISE EN PAGE</h4>
        <ul>
          <li>HTML5</li>
          <li>CSS3</li>
        </ul>
      </div>

    </div>

  </div>
</div>
