.content{
  margin: 0 25% 0 25% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.project{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-bottom: 20px;
  border-bottom: solid silver 1px;

  a{
    width: 30%;
    text-decoration: none;
  }

  .description{
    width: 60%;
  }

  img{
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 40px #969490;
  width: 100%;
}

img:hover{
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}

  figcaption{
    color: #373636;
    margin-top: 10px;
    font-size: 13px;
  }



}

h3{
  color: #600505;
  font-weight: bold;
}

@media (max-width: 768px) {

.content{
  margin: 0;

  .project{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      width: 80%;
    }

    .description{
      margin-top: 20px;
      width: 90%;
    }
  }

}

  #project-crowdfunding{
    flex-direction: column-reverse;
  }
}
