
<div id="projects" class="content">

  <div>
    <h2 >Mes projets</h2>
  </div>

  <div class="projects">

    <!--******************************************PROJECT 1 ************************************************** -->
    <div class="project">

      <a href="https://manageyourmoney.emile404.be" target="_blank">
        <figure>
          <img src="assets/images/manageyourmoneypicture.png" alt="Manage Your Money">
          <figcaption>Créé en août 2020</figcaption>
        </figure>
      </a>

      <div class="description">
        <h3>Manage Your Money</h3>
        <p>Mon dernier projet. Cela fait quelques années maintenant que j'utilise Excel pour gérer mon budget.
          C'est donc tout naturellement que le projet est né. Je voulais un outil plus "user friendly"
          et qui fournisse des infos de manière plus  dynamique que mes feuilles Excel.
        </p>
        <div>
          <a href="https://manageyourmoney.emile404.be" target="_blank"><strong>manageyourmoney.emile404.be</strong></a>
        </div>
      </div>

    </div>


    <!--******************************************PROJECT 2 ************************************************** -->
    <div id="project-crowdfunding" class="project">

      <div class="description">
        <h3>Crowdfunding Solidarity</h3>
        <p>Site de crowdfunding réalisé dans le cadre de ma formation à Technofutur TIC.
          L'utilisateur peut se connecter, investir et proposer des projets sous certaines conditions.
        </p>

        <div>
          <a href="https://crowdfunding.emile404.be" target="_blank"><strong>crowdfunding.emile404.be</strong></a>
        </div>
      </div>

      <a href="https://crowdfunding.emile404.be" target="_blank">
        <figure>
          <img src="assets/images/crowdfundingpicture.png" alt="Crowdfunding Solidarity">
          <figcaption>Créé en août 2020</figcaption>
        </figure>
      </a>

    </div>


    <!--******************************************PROJECT 3 ************************************************** -->
    <div class="project">

      <a href="https://lecoinducinephile.emile404.be" target="_blank">
        <figure>
          <img src="assets/images/lecoinducinephilepicture.png" alt="Le coin du cinéphile">
          <figcaption>Créé en juin 2020</figcaption>
        </figure>
      </a>

      <div class="description">
        <h3>Le coin du Cinéphile</h3>
        <p>Étant amateur de cinéma, l'idée de ce projet m'est venue lorsque comme à mon habitude, je listais les films que je souhaitais voir.
          Je me suis dit :  pourquoi ne pas en faire une application ? En plus de lister les films,
          vous pouvez les noter et les critiquer. N'hésitez pas à faire un classement de vos meilleurs films.
        </p>
        <div>
          <a href="https://lecoinducinephile.emile404.be" target="_blank"><strong>lecoinducinephile.emile404.be</strong></a>
        </div>
      </div>
    </div>

  </div>
</div>
