
.content{
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

h3{
  color: #600505;
  font-weight: bold;
}

.project{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  padding-bottom: 20px;
  border-bottom: solid silver 1px;
  width: 850px;

  a{
    width: 30%;
    text-decoration: none;
    display: flex;
    align-items: flex-end;

    figure{
      margin-bottom: 0;
    }
  }

  .description{
    width: 60%;
  }

  img{
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 40px #969490;
  width: 100%;
}

img:hover{
  transform: scale(1.04);
  transition: 0.3s ease-in-out;
}

  figcaption{
    color: #373636;
    margin-top: 10px;
    font-size: 13px;
  }

}

.wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#project4{
  display: flex;
  flex-direction: column;
}

i{
  color: black;
}

.precision{
  transition: all 3s;
}


// ********************************************* ANIMATIONS ***********************************************************
.visible, .invisible {
  opacity: 0.0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

[slideInRight].invisible {
  transform: translate(50px, 0);
}

[slideInRight].visible, [slideInLeft].visible {
  opacity: 1;
  transform: translate(0px, 0);
}

[slideInLeft].invisible {
  transform: translate(-50px, 0);
}

[fadeIn].visible {
  opacity: 1;
}



// ********************************************* SCREEN RESPONSIVITY **************************************************
@media (max-width: 900px) {

  .content{
    .project {
      width: 700px;
    }
  }
}


@media (max-width: 768px) {

  .content{

    .project{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      a{
        width: 80%;
        display: flex;
        justify-content: center;

        figure{
          width: 400px;
        }
      }

      .description{
        margin-top: 20px;
        width: 90%;
      }
    }
  }

  #project-crowdfunding{
    flex-direction: column-reverse;
  }

  .wrapper{
    flex-direction: column;
    align-items: center;
  }

  .precision{
    margin-left: 15px;
  }
}


@media (max-width: 420px) {

  .content {

    .project {

      a {

        figure {
          width: 100%;
        }
      }
    }
  }
}
