*{
  margin: 0;
  padding: 0;
}

html {scroll-behavior: smooth;}

body {
  font-family: 'Cairo', sans-serif;
  color: rgb(61,68,73);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

h2{
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 100px;
}


